// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;

$table-striped-bg: #f9f9f9 !default;

//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$gray-base:              #2b2b28 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #222222;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$greenay:              #45474B !default;
$camo:              #495E57 !default;
$sage:              #5E5D52 !default;
$army:                #3F4627 !default;
$bw-white:                #fff !default;
$bw-dgreen:             #6c8f3e !default;
$bw-yellow:             #E5C64E !default;

$brand-primary:         #3e5e99 !default;
$brand-success:         #c03836 !default;
$brand-info:            #f1d6ab !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;





//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #f5f3ec;
//** Global text color on `<body>`.
$text-color:            $gray-dark ;

//** Global textual link color.
$link-color:            $gray-dark !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Uni Sans W01",Arial,san-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          .9rem;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~12px

$font-size-h1:            ($font-size-base * 1.76); //
$font-size-h2:            ($font-size-base * 1.63); //
$font-size-h3:            ($font-size-base * 1.36); //
$font-size-h4:            ($font-size-base * 1.10); //
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * .85));

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 ; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    ($font-size-base * $line-height-base); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;
