// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';


@font-face {
  font-family: "Uni Sans W01";
  font-weight: 500;
  // src:url("../fonts/a851d521-7acb-47ab-82ca-e2a1cfac3269.eot?#iefix");
  // src:url("../fonts/a851d521-7acb-47ab-82ca-e2a1cfac3269.eot?#iefix") format("eot"),
  src: url("../fonts/ed5f254d-805e-404b-9f69-1b210968e58a.woff") format("woff");
  //
  // url("../fonts/c049e919-6dfb-4001-854c-ec02f1d98ef3.ttf") format("truetype"),
  // url("../fonts/54bb561b-c20d-4ba9-bdf6-e911dff488b2.svg#54bb561b-c20d-4ba9-bdf6-e911dff488b2") format("svg");
}

@font-face {
  font-family: "Uni Sans W01";
  font-weight: 300;
  // src:url("../fonts/b495b988-03d2-4119-b405-e86ebc49bf44.eot?#iefix");
  // src:url("../fonts/b495b988-03d2-4119-b405-e86ebc49bf44.eot?#iefix") format("eot"),
  src: url("../fonts/bd3d2d1b-67bd-4dd1-b1a9-9aa6b56e8812.woff") format("woff");
  //
  // url("../fonts/aeb02606-c0d2-419b-8e7a-fb36917337cc.ttf") format("truetype"),
  // url("../fonts/06853c60-33b2-4450-b1c6-27ea314b8820.svg#06853c60-33b2-4450-b1c6-27ea314b8820") format("svg");
}

@font-face {
  font-family: "Uni Sans W01";
  font-weight: 400;
  // src:url("../fonts/5b52dcd0-16b1-43e4-a36b-2af23d37606c.eot?#iefix");
  // src:url("../fonts/5b52dcd0-16b1-43e4-a36b-2af23d37606c.eot?#iefix") format("eot"),
  src: url("../fonts/e7cdb593-19e6-4908-a86c-32fe61172cd0.woff") format("woff");
  //
  // url("../fonts/5f4bfd13-9bbd-450a-b79f-438bf07eb3cf.ttf") format("truetype"),
  // url("../fonts/de41ff6b-d3f7-4669-9a06-0cde8e06a7ec.svg#de41ff6b-d3f7-4669-9a06-0cde8e06a7ec") format("svg");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizYRExUiTo99u79D0e0x8mIAjcQ-w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizdRExUiTo99u79D0e8fOydLxUd0TA7iw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0O6tLR8a8zI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Glyphicons Halflings";
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: inherit;
}

.toolbar-menu-administration,
#toolbar-item-administration-tray {
  font-size: 100%;

  ul, li, a {
    font-size: 100%;
  }
}

/* Custom, really small ***********************************************************************************/

@media screen and (min-width: 10px) {

  html, body {
    font-size: $font-size-base;
    font-family: $font-family-base;
    font-weight: 400;
  }

  body {
    background-color: $body-bg;
    font-size: $font-size-base;
    line-height: $line-height-computed;
    margin: 0 auto;
    font-family: $font-family-sans-serif;
    color: $gray-dark;
  }

  .win {
    body,
    .ui-widget,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: $font-family-sans-serif;
    }
  }


  p, ul, ol {
    font-size: $font-size-base;
    line-height: $line-height-computed;
    color: $text-color;
  }

  td, th {
    padding: 4px 8px;
  }

  .container-fluid {
    .region-header,
    .region-nav_branding,
    .region-nav_main,
    .region-nav_additional,
    .region-breadcrumb,
    .region-content_above,
    .region-content,
    .region-content_below,
    .region-secondary_content,
    .region-sidebar_first,
    .region-footer_above,
    .region-footer {
      width: auto;
      margin: 0 auto;
    }
  }

  .layout--twocol-section {
    flex-wrap: nowrap;
  }

  h1 {
    font-size: $font-size-h1;
    color: $greenay;
  }

  h2 {
    font-size: $font-size-h2;
    color: $gray-dark;
  }

  h3 {
    font-size: $font-size-h3;
    color: $camo;
  }

  h4 {
    font-size: $font-size-h4;
    color: $camo;
  }

  h5 {
    font-size: $font-size-h5;
    color: $sage;
  }

  h6 {
    font-size: $font-size-h6;
    color: $army;

  }


  table {
    background-color: transparent;

    p, ul, ol {
      padding: 3px;
    }

    h2, h3 {
      font-weight: bold;
      text-indent: 0px;
    }
  }


  .path-frontpage #block-act-local-tasks {
    padding: 3% 10%;
  }

  .path-frontpage #block-act-content {
    padding: 3% 3%;
  }

  header {
    z-index: 100;

    #block-act-branding {
      .navbar-brand {
        max-height: 50px;
        text-align: center;
        width: 100%;

        a.site-logo {
          padding-top: 20px;

          img {
            width: 50%;
            height: auto;
            margin: 0;
          }
        }

        .site-title {
          display: none;
        }
      }
    }

    .region-nav-main {
      padding: 0 2%;
    }
  }

  main {


    a div.button,
    .field--name-field-cta-link a {
      border: solid thin $gray-dark;
      background-color: $gray-light;
      padding: 1%;
      text-decoration: none;
      border-radius: 3px;
      float: right;
    }


    #block-act-breadcrumbs {
      padding: 2% 10%;
      font-size: 75%;
    }


    .region-nav-additional {
      padding: 0 3%;
    }

    .navbar-toggler.collapsed {
      //display: none;
    }

    .region-content-above {

      div#block-whychooseactprotectiveservices {
        position: relative;

        h2 {
          display: none;
        }

        .field--name-field-cta-primary-image {
          text-align: center;
          width: 100%;
          padding: 0;

          img {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            height: auto;
          }
        }

        .field--name-body {
          position: relative;
          padding: 4% 10%;

          h3 {
            padding: 3% 0;
          }
        }
      }
    }


    .region-content {
      padding: 0% 1%;

      h1.page-title {
        padding: 1% 0 0;
      }

      .block-field-blocknodepagebody,
      .block-field-blocknodeservicefield-serv-ref-industries {
        padding: 0 3%;
        font-size: 75%;
      }
    }

    #block-act-page-title {
      padding: 1% 0%;
      text-align: center;
      background: $camo;

      h1 {
        color: $brand-info;
      }
    }


    #block-act-content,
    #block-act-local-tasks {
      padding: 0%;
    }

    .node--view-mode-full {

      .node__content {
        padding: 1% 0;

        .field--name-field-serv-primary-image {
          float: left;
          padding: 0 2% 2% 0;
        }

        .field--name-body {
        }

        .field--name-field-serv-ref-industries {

        }
      }
    }

    .field--name-field-serv-related-articles {
      background: $gray-light;
      color: $camo;
      display: block;
      float: left;
      padding: 4% 3%;
      margin: 1% 5%;
      width: 89%;
       a:link, a:visited, a:hover, a:focus {
         color: inherit;
         font-size: 75%;
         padding: 1% 0%;
       }
    }

    .node--type-service.node--promoted {
      .field--name-field-serv-primary-image {
        border: $camo thin solid;
        margin: 2% 3%;
        padding: 0;
      }

      .block-field-blocknodeservicefield-serv-testimonial-ref {
        .node__content {
          padding: 0;
        }
      }

      article.node--type-testimonial.node--view-mode-teaser {
        h2 {
          display: none;
        }
      }
    }

    #block-act-page-title {
      span.field.field--name-title {
        p {
          font-size: 150%;
          color: $brand-info;
        }
      }
    }

    .block-field-blocknodeservicefield-serv-testimon {
      .field__item {
        article.node--type-testimonial.node--view-mode-full {
          display: block;
          padding: 1% 3%;
          margin: 1%;
          background: $camo;
          color: $brand-info;

          p {
            color: $brand-info;
          }
        }
      }
    }

    div.region-content-below {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      padding: 5%;
      margin: 0 0 1% 0;
      background: $camo;
      color: $brand-info;

      h2 {
        color: $brand-info;
      }

      p, ul, li, ol {
        color: $brand-info;
      }

      div#block-whatisphysicalsecurity,
      div#block-whoneedsphysicalsecurity {

        .list-left,
        .list-right {
          max-width: 48%;
          padding: 2% 0;

          ul, li {
            color: $brand-info;
          }
        }

        .list-left {
          float: left;
        }

        .list-right {
          float: right;
        }
      }

    }

    #block-views-block-articles-block-1 {
      padding: 1% 3%;

      .node--type-article.node--view-mode-teaser {
        padding: 1% 3%;
        display: block;
        position: relative;

        h2 {
          background: $camo;
          color: $brand-info;

          a:link, a:visited, a:hover, a:active {
            padding: 1%;
            display: block;
            text-decoration: none;

            span.field--name-title {
              color: $brand-info;
              text-decoration: none;
            }
          }
        }

        .field--name-field-article-ref-type {
          position: absolute;
          top: 16px;
          right: 47px;
          background: $brand-info;
          display: block;
          white-space: nowrap;
          padding: 1%;
          text-align: center;
          min-width: 15%;

          a:link, a:visited, a:focus {
            color: $camo;
            font-size: 80%;
            display: block;
            padding: 1%;
            white-space: nowrap;
            text-decoration: none;

            a:hover {
              color:$brand-warning;
            }
          }
        }
      }
    }

    div#block-views-block-services-block-1 {

      h2 {
        text-align: center;
        margin: 4% 0 0;

        a {
          span.field--name-title {
            display: none;
          }
        }
      }

      .view-display-id-block_1 {
        display: block;

        .view-content {
          display: flex;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;

          .flex {

            .node--view-mode-teaser-image {
              padding: 5%;

              h2 {
                text-align: center;
              }

              .node__content {
                .field.field--name-field-serv-icon {
                  float: left;
                  padding: 0 20px 0 0;
                }

                .field--name-title-html,
                .service-element {
                  font-size: 1.6rem;
                  font-weight: bold;
                  padding: 20px 0 0 0;
                }

                .field--name-body {
                  padding: 30px 0 0 0;
                }
              }
            }
          }
        }
      }
    }


    div#block-views-block-training-block-1 {
      padding: 10%;

      h2 {
        display: none;

        a {
          span.field--name-title {
            display: none;
          }
        }
      }

      .view-content {
        .node__content {
          .field.field--name-field-serv-icon {
            float: left;
            padding: 0 20px 0 0;
          }

          .field--name-title-html,
          .service-element {
            font-size: 1.6rem;
            font-weight: bold;
            padding: 20px 0 0 0;
          }

          .field--name-body {
            padding: 30px 0 0 0;
          }
        }
      }
    }
  }

  .page-node-type-service {
    .node__content {
      .block-field-blocknodeservicefield-serv-primary-image {
        padding: 1% 3%;

      }

      .block-field-blocknodeservicefield-field-serv-teaser {
        .field--name-field-field-serv-teaser {
          em {
            font-size: 200%;
            padding: 1% 0%;
          }

        }
      }
    }
  }

  .region-footer-above {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    div#block-webform {
      background: $gray;
      width: 100%;
      padding: 5%;
      font-size: 75%;


      .captcha__element {
        font-size: 75%;
      }

      #webform-submission-contact-node-36-add-form {

      }
    }

    #block-views-block-cannabis-block-1 {
      text-align: center;
      padding: 3% 10%;

      h2 {
        display: none;
      }

      .field--name-title-html,
      .service-element {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 20px 0 0 0;
      }
    }
  }

  footer.mt-auto.footer-dark.text-light.bg-secondary {
    background-color: $camo !important;
    --bs-bg-opacity: 0;

    h2, h4, p {
      color: $brand-info;
    }

    .region-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;

      div#block-actprotectiveservicesllc {
        text-align: center;
      }
    }
  }
}

/* Custom, iPhone Retina ***********************************************************************************/

@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones ***********************************************************************************/


@media only screen and (min-width: 480px) {
  html, body {
    font-size: 1.3rem;
    font-weight: 400;

    div#block-views-block-services-block-1 {
      .view-display-id-block_1 {
        .view-content {
          .flex {
            max-width: 500px;

            .node--view-mode-teaser-image {
              padding: 10%;

              .field--name-title-html {
                font-size: 1.6rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    div#block-views-block-training-block-1 {

      .view-content {
        .views-field-title {
          text-align: left;
          font-size: 1.6rem;
        }
      }
    }
  }
}

/* Small Devices, Tablets ***********************************************************************************/

@media only screen and (min-width: 768px) {
  .region-content-above {
    div#block-whychooseactprotectiveservices {
      .field--name-field-cta-primary-image {
        padding: 3% 0;
      }
    }
  }

  div#block-whatisphysicalsecurity,
  div#block-whoneedsphysicalsecurity {
    padding: 3% 5%;
    width: 50%
  }
}

/* Medium Devices, Desktops **********************************************************************************/
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens **********************************************************************************/
@media only screen and (min-width: 1200px) {

}
